/* It's never too early to talk to your child about Typography. */

$main-font: 'Cormorant Garamond', 'Garamond', serif;
$small-caps: 'Cormorant SC', 'Garamond', serif;
$default-font-size: 24px;


/* Color is my day-long obsession, joy and torment. */

// $link-color: #90a4af;
// #e4e2dc ; 5E5A53
$link-color: #e4e2dc;
$link-hover-color: #aeaca9;
// $color-for-background: #1E1E1E;
// $color-for-background: #0a0104;
$color-for-background: #171616;
// $color-for-background: #1f1e1e;
$background-alpha: 1;
$basic-text-color: #d6d4c8;
$main-content-color: #eef7f5;
$error-color: #4E0603;

/* Give these people air */

$header-padding: 2rem;