.mes-header {
    margin-top: 100px;
    margin-bottom: 4rem;
    text-align: center;
}

.navbar-text {
    color: white;
    
}

.navbar {
    background-color: #232425;
    font-family: $header-font;
}

.navbar-brand {
    img {
        height: 40px;
    }
}