/* It's never too early to talk to your child about Typography. */

$header-font: 'Cormorant Garamond', 'Garamond', serif;
$body-font: 'Crimson Text', serif;
$small-caps: 'Cormorant SC', 'Garamond', serif;
$button-font: 'Lato', sans-serif;
$default-font-size: 24px;

$muted-red: #ad474f;
$gray: #d5d5d5;

// font-family: 'Alegreya', serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Cormorant Garamond', serif;
// font-family: 'Cormorant SC', serif;

/* Color is my day-long obsession, joy and torment. */

// $link-color: #90a4af;
// #e4e2dc ; 5E5A53
// $link-color: #e4e2dc;
$link-color: $muted-red;
$link-hover-color: #aeaca9;
// $color-for-background: #1E1E1E;
// $color-for-background: #0a0104;
$color-for-background: #171616;
// $color-for-background: #1f1e1e;
$background-alpha: 1;
// $basic-text-color: #d6d4c8;
$basic-text-color: rgba(255, 255, 255, .8);
$main-content-color: #eef7f5;
$error-color: #4E0603;

/* Give these people air */

$header-padding: 2rem;