    Ballot Name: <input type="text" ng-model="ballot.name" required><br/>
    Vote Start:
    <datetimepicker type="text" ng-model="ballot.start"
      show-meridian="true"
      date-disabled="disabled(date, mode)" 
      readonly-date="false"
      hidden-time="false"
      hidden-date="false" 
      show-spinners="true"
      readonly-time="false"></datetimepicker></br>
    Vote End:
    <datetimepicker type="text" ng-model="ballot.end"
      show-meridian="true"
      date-disabled="disabled(date, mode)" 
      readonly-date="false"
      hidden-time="false"
      hidden-date="false" 
      show-spinners="true"
      readonly-time="false"></datetimepicker></br>
    <select ng-selected = "ballot.timezone" ng-options="timezone.name for timezone in timezones track by timezone.value" ng-model="ballot.timezone"></select>
    <input type="submit" value="Save Ballot" />