<div class="main-content" ng-show="!ballot.id && !error">Loading ...</div>
<div class="main-content" ng-hide="!error">{{error}} Back to <a href="#/">Home</a> </div>
<div class="main-content" ng-show="ballot.id" ng-controller="ballotVoteController">
<a href="#/">Home</a> > Ballot: {{ballot.name}}<br/>
<h2>{{ballot.name}}</h2>
<form ng-submit="submitVote(vote)">
<div  ng-repeat="(q, question) in ballot.questions">
<label>Ballot Measure: {{ question.name }}</label><br/>
<p ng-show="question.description">{{question.description}}</p>
<div ng-show="question.type=='proposition'">
    <label>
    <input type="radio" ng-model="vote.voteItem[q].answer" value="2">
    Yes
  </label><br/>
  <label>
    <input type="radio" ng-model="vote.voteItem[q].answer" value="1">
    No
  </label><br/>
  <label>
  <input type="radio" ng-model="vote.voteItem[q].answer" value="0">
    Abstain from voting
  </label>
</div>
<div ng-show="question.type=='office'">
    Officers:
    <ul>
        <li ng-repeat="(c,candidate) in question.candidates"><select ng-model="vote.voteItem[q].candidates[c].answer" ng-options = "answer disable when takenAnswer(vote.voteItem[q].candidates,c,answer) for answer in vote.voteItem[q].availableAnswers"><option value="">-</option></select>
         {{candidate.firstName}} {{candidate.lastName}} <span ng-show="candidate.membershipNumber">({{candidate.membershipNumber}})</span> 
         
        </li>
    </ul>
</div>
</div>
<input type="submit" value="Submit Vote"/>
</form>
</div>