<div class="main-content" ng-hide="question.id">Loading ...</div>
<div class="main-content" ng-show="question.id" ng-controller="questionViewController">
<a href="#/">Home</a> > Ballot: <a class="linkbutton" href="#/ballot/{{ballot.id}}">{{ballot.name}}</a> > Question: {{question.name}} | <a class="linkbutton" href="#/ballot/{{ ballot.id }}/question/{{ question.id }}/edit">Edit</a><br/>
<label>Name:</label> {{question.name}}<br/>
<label>Type:</label> {{question.type}}<br/>
<label>Description:</label> {{question.description}}<br/>
<label>Read More link:</label> {{question.readmore}}<br/>
<label>Discussion link:</label> {{question.discussion}}<br/>
<div ng-show="question.type=='office' && candidates">
<label>Candidates</label><br/>
<ul>
<li  ng-repeat="(candidateid, candidate) in candidates"><a class="linkbutton" href="#/ballot/{{ ballot.id }}/questions/{{ question.id }}/candidate/{{ candidate.id }}">{{ candidate.firstName }} {{ candidate.lastName}} ({{ candidate.membershipNumber }})</a></li>
</ul>
<a ng-show="!addCandidateForm" ng-click="showAddCandidateForm()">Add Candidate</a>
<form ng-show="addCandidateForm" novalidate ng-submit="addCandidate(newcandidate)" class="ballot-form">
     <label>
        Membership Number:
    <input type="text" ng-model="newcandidate.membershipNumber">
  </label><br/>
  <label>
        Application URL:
    <input type="text" ng-model="newcandidate.application">
  </label><br/>
  <input type="submit" value="Add Candidate" />
</form>
</div>
</div>