html, body {
    background-color: $color-for-background;
    color: $basic-text-color;
    font-family: $main-font;
    font-size: $default-font-size;
}

h1, h2 {
    
    // font-family: $header-font;
    font-style: italic;
}

h3, h4, h5 {
    font-family: $main-font;
    font-style: normal;
}

h1 {
    font-size: 1.75rem;
    letter-spacing: 0.125rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.25rem;
    padding-bottom: $header-padding;
}

p {
    color: #5E5A53;
    padding-bottom: 1rem;
    
}

a {
    color: $link-color;
    background-image: linear-gradient($color-for-background, $color-for-background), linear-gradient($color-for-background, $color-for-background), linear-gradient($link-color, $link-color);
    background-size: .05em 1px,.05em 1px,1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0 87%,100% 87%,0 87%;
    text-decoration: none;
    text-shadow: .03em 0 $color-for-background,-.03em 0 $color-for-background,0 .03em $color-for-background,0 -.03em $color-for-background,.06em 0 $color-for-background,-.06em 0 $color-for-background,.09em 0 $color-for-background,-.09em 0 $color-for-background,.12em 0 $color-for-background,-.12em 0 $color-for-background,.15em 0 $color-for-background,-.15em 0 $color-for-background;
}

a:hover {
    color: $link-hover-color;
    text-decoration: none;
    border-bottom: 0;
}

select, input, textarea {
    color: $color-for-background;
}

.mes-header {
    height: 170px;
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}

.main-content {
    margin: 0 auto;
    width: 94%;
    max-width: 1000px;
    // color: $main-content-color; 
}

.error {
    color: $error-color;
}