html, body {
    background-color: $color-for-background;
    color: $basic-text-color;
    font-family: $main-font;
    font-size: $default-font-size;
}

h1, h2 {
    font-family: $header-font;
    font-style: italic;
}

h3, h4, h5 {
    font-family: $header-font;
    font-style: normal;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    color: $link-color;
}

a:hover {
    color: $link-hover-color;
}

select, input, textarea {
    color: $color-for-background;
}

.mes-header {
    background-image: url('/images/MES-Banner.png');
    background-position: top center;
    background-repeat: no-repeat;
    height: 170px;
    margin-top: 50px;
}

.main-content {
    margin: 0 auto;
    width: 94%;
    max-width: 1000px;
    color: $main-content-color; 
    // background-color: rgba(30, 30, 30, 1);
    // background-image: url('/images/download.png');
}

.error {
    color: $error-color;
}