/* It's never too early to talk to your child about Typography. */

$main-font: 'Crimson', 'Garamond', serif;
$header-font:  'Crimson', 'Garamond', serif;
$default-font-size: 20px;


/* Color is my day-long obsession, joy and torment. */

$link-color: #90a4af;
$link-hover-color: #b0bec6;
$color-for-background: #1E1E1E;
$background-alpha: 1;
$basic-text-color: #333;
$main-content-color: #eef7f5;
$error-color: #4E0603;

/* Give these people air */

 $header-padding: 40px;