$link-color: #90a4af;
$link-hover-color: #b0bec6;
$background-color: rgba(30, 30, 30, 1);
$basic-text-color: #333;
$main-content-color: #eef7f5;
$main-font: 'Crimson', 'Garamond', serif;
$header-font:  'Crimson', 'Garamond', serif;
$default-font-size: 20px;