@import 'normalize';
@import 'ie';
@import 'print';

html, body {
    background-color: rgba(30, 30, 30, 1);
    color: #333;
    font-family: 'Cardo', 'Georgia', serif;
    font-size: 18px;
}

.mes-header {
    background-image: url('/images/MES-Banner.png');
    background-position: top center;
    background-repeat: no-repeat;
    height: 170px;
    margin-top: 50px;
}

.main-content {
    margin: 0 auto;
    width: 94%;
    max-width: 1000px;
    color: white; 
    // background-color: rgba(30, 30, 30, 1);
    // background-image: url('/images/download.png');
}